<div class='center padded white-bg'>
    <div class='content padded'>
        <div class='padded'>
            
            <h1>¿Esto no te convence? Mirá lo que construí!</h1>
        </div>
        <dov class='row'>
            <div class='card third'>
                <h3>Mailer app</h3>
                <p>Una aplicacion que envia correos usando la API de Sendgrid.</p>
                <a href='#'>link aqui</a>
            </div>

            <div class='card third'>
                <h3>Gestor de clientes</h3>
                <p>Una aplicacion para gestionar clientes.</p>
                <a href='#'>link aqui</a>
            </div>

            <div class='card third'>
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar tareas.</p>
                <a href='#'>link aqui</a>
            </div>
        </dov>                
    </div>
</div>

