<div class='center'>
    <div class ='content'>
        <div class='row vert-pad'>
            <div class='left padded'>
                <h1>Mi intencion es dedicarme a la creacion de programas, paginas web o aplicaciones para facilitar a su empresa lograr sus objetivo.</h1>
                <p>Constantemente busco aprender nuevas tecnologias y desarrollar nuevas capacidades, para ser un desarrollador mas completo y versátil (como es el caso de esta web, que la realice desde cero usando Flask y Python)</p>
            </div> 

            <div class='right padded'>

                
            </div>
        </div>
    </div>
</div>





